body {
  background-image: url(./Assets/download.jpg);

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

.head {
  position: relative;
  margin-bottom: 100px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  opacity: 0.9;
  background-color: rgb(64, 79, 66);
  font-size: 30px;
}

.icon-text {
  font-size: 50px;
}

.material-icons {
  font-size: 40px;
}

.col {
  text-align: center;
  border-style: solid;
  border-width: 8px;
  border-color: rgb(31, 72, 56, 0);
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.day {
  background-color: rgb(112, 172, 131, 0.8);
  border-style: hidden;
  border-width: 1px;
  border-color: rgb(31, 72, 56);
  font-weight: bold;
  border-radius: 0px;
}

.zipcode {
  border-width: 10px;
  height: 100%;
  font-weight: bold;
  color: black;
}

.forcast {
  border-style: hidden;
  border-width: 10px;
  font-weight: bold;
  background-color: rgb(112, 172, 131, 0.75);
}

.map-search {
  background-color: rgb(98, 130, 186);
  grid-column: 2;
  margin-left: 5px;
  padding: 10px;
}

.oneoftwo {
  background-color: rgba(109, 196, 167, 0.75);
  border-style: solid;
  border-width: 8px;
  border-color: rgba(53, 91, 76, 0);
  height: 275px;
  padding: 10px;
  overflow-y: scroll;
}

.trailListStyles {
  background-color: rgba(99, 174, 149, 0.75);
  height: 275px;
  padding: 15px;
  overflow-y: scroll;
}

.trailListResults {
  align-content: flex-start;
  color: black;
}

.trailButton {
  background-color: rgb(31, 72, 56);
  color: white;
  font-weight: bold;
}

.trailListCheckBox {
  color: black;
  border-bottom: 1px, black;
}

.trailName {
  font-weight: bold;
  font-size: medium;
  color: black;
}

.trailData {
  font-size: small;
}

.footer-copyright {
  padding-left: 10px !important;
  padding-right: 10px !important;
  opacity: 0.8;
}