body {
  background-color: rgb(31, 72, 56);
}

.col {
  background-color: rgb(164, 228, 164);
  text-align: center;
}

.day {
  background-color: rgb(112, 172, 131);
  border-style: solid;
  border-width: 10px;
  border-color: rgb(31, 72, 56);
}

.zipcode {
  border-style: solid;
  border-width: 10px;
  border-color: rgb(31, 72, 56);
  height: 100%;
}

.forcast {
  background-color: rgb(145, 189, 189);
  border-style: solid;
  border-width: 10px;
  border-color: rgb(31, 72, 56);
}

.trail-search {
  background-color: rgb(98, 130, 186);
  grid-column: 1;
  margin-right: 5px;
  padding: 10px;
}

.map-search {
  background-color: rgb(98, 130, 186);
  grid-column: 2;
  margin-left: 5px;
  padding: 10px;
}

.oneoftwo {
  background-color: rgb(88, 155, 133);
  border-style: solid;
  border-width: 8px;
  border-color: rgb(31, 72, 56);
  height: auto;
}

.trailListStyles {
  background-color: rgb(88, 155, 133);
  border-style: solid;
  border-width: 8px;
  border-color: rgb(31, 72, 56);
  height: 250px;
  padding: 15px;
  overflow-y: scroll;
}

.trailListResults {
  align-content: flex-start;
  color: black;
  border-bottom: 1px, black;
}
.trailListCheckBox {
  color: black;
  border-bottom: 1px, black;
}

.trailName {
  font-weight: bold;
  font-size: medium;
  color: black;
}
.trailData {
  font-size: small;
}

.material-icons {
  font-size: 40px;
}
