/*Window level Styles*/

body {
  background-image: url(../Assets/download.jpg);

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport */
  background-attachment: fixed;

  /* This makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

.head {
  position: relative;
  margin-bottom: 100px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  opacity: 0.9;
  background-color: rgb(64, 79, 66);
  font-size: 30px;
}

/*for hiking man logo in header*/
.material-icons {
  font-size: 40px;
}

.footer-copyright {
  padding-left: 10px !important;
  padding-right: 10px !important;
  opacity: 0.8;
}

/*additional styles applied to materialize columns to assist with alignment and spacing*/
.col {
  text-align: center;
  border-style: solid;
  border-width: 8px;
  border-color: rgb(31, 72, 56, 0);
  font-family: "M PLUS Rounded 1c", sans-serif;
}

/*Zip Code Search*/
/*update the font styles from the original Materialize style to appear more visible against the background*/
.zipcode {
  border-width: 10px;
  height: 100%;
  font-weight: bold;
  color: black;
}

/*Weather Data Styles*/

/*current day forcast element styles*/
.forcast {
  border-style: hidden;
  border-width: 10px;
  font-weight: bold;
  background-color: rgb(112, 172, 131, 0.75);
}

/*change to default size on pictures from weather API*/
.icon-text {
  font-size: 50px;
}

/*styles for all elements in the 5-day forcast row*/
.day {
  background-color: rgb(112, 172, 131, 0.8);
  border-style: hidden;
  border-width: 1px;
  border-color: rgb(31, 72, 56);
  font-weight: bold;
  border-radius: 0px;
}

/*Map*/

/*changes to fit map into grid framework and handle overflow*/
.mapEl {
  background-color: rgba(109, 196, 167, 0.75);
  border-style: solid;
  border-width: 8px;
  border-color: rgba(53, 91, 76, 0);
  height: 500px;
  padding: 10px;
  min-width: 50%;
  overflow-y: scroll;
}

/*Trail List Element*/

/*adds color size and spacing to column in which the trail list populates from zip search*/
.trailListStyles {
  background-color: rgba(99, 174, 149, 0.75);
  height: 500px;
  padding: 15px;
  overflow-y: scroll;
}

/*follwing 4 clases: dynamically created HTML and CSS identifiers from hikingTrails.js lines 46-60*/
.trailListResults {
  align-content: flex-start;
  color: black;
}

.trailButton {
  background-color: rgb(31, 72, 56);
  color: white;
  font-weight: bold;
}

.trailName {
  font-weight: bold;
  font-size: medium;
  color: black;
}

.trailData {
  font-size: small;
}
